body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    background-color: #48A6A7;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
button:hover {
    background-color: #2973B2;
}

#spam-btn{
    background-color: #E17564;
}
#spam-btn:hover{
    background-color: #B23A2E;
}

#txtarea {
    width: 300px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


